In [2]:
### calculator 
num1= float(input("enter the 1st value:"))
num2=float(input("enter the seconfd value:"))

sum=num1+num2
subtract=num1-num2
multiply=num1*num2
diffrence=num1/num2

print("sum:",sum)
print("sub",subtract)
print("mult:",multiply)
print("diff:",diffrence)

sum: 15.0
sub 5.0
mult: 50.0
diff: 2.0

In [2]:
## check if the year is a leap year or not 
year= int(input("enter the year:"))
if year%4==0:
    print("this is leap year")
else:
    print("year is not a leap year")

this is leap year

In [2]:
#### simple calcultor
num1= int(input("enter 1st veriable:"))
num2=int(input("enter 2nd veriabl:"))
operator=input("inter the operator(+,-,*,/)")

if operator=='+':
    result=num1+num2
elif operator=='-':
    result= num1-num2
elif operator=='*':
    result = num1*num2
elif operator=='/':
    if num2 !=0:
       result = num1/num2
    else:
        result= "error! divisor in zero"
else :result="defalut operator"

print("Result:",result)

Result: 200

In [1]:
## determine the ticket price based of=n age and wheather the person is student or not 

age= int(input("enter the age:"))
is_student = input("Are you a student: yes/no")

if age < 5:
    ticket_price="free"
elif age <=12:
    ticket_price ="10$"
elif age<= 17:
    if is_student =="yes":
        ticket_price ="12$"
    else:
        ticket_price ="15$"
elif age <=65:
    if is_student =="yes":
        ticket_price="18$"
    else: 
        ticket_price="20$"
else:"Not apllicable"

print("your age is:", age)
print("your ticket price is:",ticket_price)

your age is: 46
your ticket price is: 20$

In [3]:
### loops 
### check prime number 

for num in range(1,101):
    if num > 1:
        for i in range(2,num):
            if num%i==0:
                break
        else:print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
## calculate the sum of first N natural number 
n = 10
sum = 0
count = 1
while count<=n:
     sum=sum+count
     count= count+1

print("the sum of firsr 10 natural number",sum)

the sum of firsr 10 natural number 55

In [6]:
empty_dict=set()
type(empty_dict)

set

In [3]:
student= {"name":"riya","class":"intermediate"}
print(student)
type(student)

{'name': 'riya', 'class': 'intermediate'}

dict

In [6]:
keys= student.keys()
print(keys)
value=student.values()
print(value)

dict_keys(['name', 'class'])
dict_values(['riya', 'intermediate'])

In [5]:
empty_tuple=()
type(empty_tuple)

tuple

#### dectionary

In [2]:
student = {"student1":{"name":"riya","roll_no":36},
           "student2":{"name":"panna","roll_no":4}}

for skey,svalue in student.items():
  print(f"{skey}:{svalue}")
  for s2key,s2value in svalue.items():
    print(f"{s2key}:{s2value}")

student1:{'name': 'riya', 'roll_no': 36}
name:riya
roll_no:36
student2:{'name': 'panna', 'roll_no': 4}
name:panna
roll_no:4

In [5]:
### frequency of elements in list 

numbers = [1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers :
    if number in frequency:
        frequency[number] +=1
    else :
        frequency[number]=1

print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

### Functions

In [5]:
### convertion of tenpreater of fharenhite and celcius 

def convert_tem (tem,unit):
    if unit == "C":
        return tem * 9/5 + 32
    elif unit == "F":
        return (tem - 32) * 5/9
    
convert_tem (66,'F')

18.88888888888889

In [8]:
#### if it is strong pass or not 

def strong_pass (password):
    if len(password)<8:
        return False
    if not any (char.isdigit() for char in password):
        return False
    if not any (char.islower() for char in password):
        return  False
    if not any (char.isupper() for char in password):
        return False
    if not any (char in '@ # $ % ^ & * ()' for char in password):
        return False
    return True

strong_pass('Hurt2jkd@')

True

In [11]:
### palandrom 
def palindrom (s):
 s = s.lower().replace(" ","")
 return s==s[::-1]

print (palindrom("A man a plan a canal panama"))
print(palindrom("hello"))

True
False

In [13]:
## factorial 

def give_factorial(n):
    if n == 0: 
        return 1
    else:
        return n * give_factorial(n-1)
    
give_factorial(5)

120

In [14]:
# function to Read a file and cound the word frequency

def count_word_frequency(file_path):
    word_count={}
    with open (file_path,'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word= word.lower().strip('.,@#$')
                word_count[word]=word_count.get(word,0)+1

    return word_count

filepath = 'simple.txt'
word_frequency = count_word_frequency(filepath)
print(word_frequency)

{'hie': 1, 'there': 1, 'im': 1, 'riya': 1, 'minz': 2, '//nice': 1, 'to': 1, 'meet': 1, 'you': 3, 'riys': 1}

In [10]:
# check the email if it a valid email or not 

def email_check(email):
    pattern = r'^[a-zA-Z0-9_.+]+@[a-zA-Z0-9]+\.[a-zA-Z0-9]+$'
    return re.match(pattern,email) is not None

print(email_check("sona111@gmail.com"))

NameError: name 're' is not defined

## Lamda funtion ,map and fillter

In [7]:
## Lamda
 
# def addition (a,b):
#     return a + b 

# addition(9,9)

addition= lambda x , y : x+y
addition(4,4)

8

In [9]:
# even 
even = lambda x:x%2==0
even(4)

True

In [11]:
# map 
numbers1 = {2, 3, 4, 5, 6}
list(map(lambda x:x**2,numbers1))

[4, 9, 16, 25, 36]

In [7]:
# fillter 
def even (number):
    if number%2==0:
     return True
numm = [1,2,3,4,5,6,7,8,9]
list(filter(even,numm))

[2, 4, 6, 8]

In [9]:
# multiple condition in filter
lst = [2,3,4,5,6,7,8,22,33,44,55]

list(filter(lambda x:x%2==0 and x>5,lst))

[6, 8, 22, 44]

In [14]:
# filting a dictionary
student = [{"name":"riya","roll_no":36},
           {"name":"palak","roll_no":4},
           {"name":"riya","roll_no":14},
           {"name":"minz","roll_no":24}]

def get_a_name_10 (student):
    return student['roll_no']>10

list(filter(get_a_name_10,student))

[{'name': 'riya', 'roll_no': 36},
 {'name': 'riya', 'roll_no': 14},
 {'name': 'minz', 'roll_no': 24}]